<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <h2 class="text-center"><%= article.title %></h2>
          <div class="text-muted mb-2">
            <% = article.createdAt.toLocaleDateString() %>
          </div>
        </div>
        <a href="/articles" class="btn btn-secondary">All Articles</a>

        <a href="/articles/edit" class="btn btn-info">Edit</a>
        <% =article.image %> <% = article.content %>
      </div>
    </div>

    <!-- Bootstrap JS and jQuery (Make sure to include these scripts) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
